spring:
  datasource:
    url: ${DATABASE_URL}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000

  redis:
    url: ${REDIS_URL}

  jpa:
    show-sql: false

app:
  base-url: ${APP_BASE_URL}
