spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/urlshortener
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 5

  redis:
    host: localhost
    port: 6379
    timeout: 2000ms

  jpa:
    show-sql: true

app:
  base-url: http://localhost:8080