name: java-11-maven-build

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to build'
        required: true
        default: 'main'
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code from ${{ inputs.branch }}
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.branch }}
      
      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'maven'
      
      - name: Build with Maven
        run: mvn clean package -DskipTests
      
      - name: Upload JAR artifact
        uses: actions/upload-artifact@v6
        with:
          name: url-shortener
          path: target/*.jar
